
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 9fr auto 9fr auto 9fr auto 9fr auto 9fr auto 9fr auto 9fr auto 9fr auto 9fr;
    grid-template-rows: 9fr auto 9fr auto 9fr auto 9fr auto 9fr auto 9fr auto 9fr auto 9fr auto 9fr;
    height: 100%;
    width: 100%;
}

.grid_line_major_horizontal {
    background-color: black;
    border-radius: 10px;
    grid-column: 1/18;
    height: 10px;
}

.grid_line_major_vertical {
    background-color: black;
    border-radius: 10px;
    grid-row: 1/18;
    width: 10px;
}

.grid_line_minor_horizontal {
    position: relative;
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
    left: 10%;
    height: 5px;
    width: 80%;
}

.grid_line_minor_vertical {
    position: relative;
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
    top: 10%;
    height: 80%;
    width: 5px;
}

.cell {
    border-radius: 100%;
    position: relative;
    
    > div {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    .value {
        display: flex;
        font-size: 35pt;
        justify-content: center;
        align-items: center;
    }
    .potential {}
    .highlighter {
        border-radius: 100%;
        background-color: aqua;
    }
}